.header-wrapper{
  display: flex;
  justify-content: center;
}

.item{
  flex-grow: 4;
  order: 5;
  flex-basis:0;
}

.active-cyan-2 input.form-control[type=text]:focus:not([readonly]) {
  border:none;
  border-bottom: 1px solid #000000;
  box-shadow: 0 1px 0 0 #000000;
}

.active-cyan-2 input.form-control{
    border:none;
    border-bottom : 1px solid rgba(0, 0, 0, 0.5);
}

#button-show{
  text-align: center;
}

#button-group{
  text-align: center;
}

#search-bar{
  background-color: whitesmoke;
}

